* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.mainContainer {
  min-height: 100vh;
  background-image: url("https://wowsp-wows-na.wgcdn.co/dcont/fb/image/tmb/00953838-087a-11e9-ae23-d89d6715223c_1200x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameBoards {
  height: 80vh;
  width: 80vw;
  border-radius: 20px;
  background-color: aliceblue;
  opacity: 0.8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.singleBoard {
  height: 400.2px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.singleCell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid rgb(10, 10, 10);
  height: 40px;
  width: 40px;
  font-weight: bold;
  font-size: 18px;
}

.ship {
  background-color: rgb(6, 111, 176);
}

.winMessage {
  font-weight: bold;
  font-size: 24px;
  color: rgb(249, 45, 45);
  grid-column: 1 / span 2;
  justify-self: center;
}

@media only screen and (max-width: 500px) {
  .mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: strech;
  }

  .gameBoards {
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .singleCell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(10, 10, 10);
    height: 20px;
    width: 20px;
    font-weight: bold;
    font-size: 12px;
  }

  .singleBoard {
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 20px;
  }

  .board {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
  }

  .gameBoards {
    height: 100vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .singleBoard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 20px;
    gap: 0;
    width: 100%;
  }

  .singleCell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgb(10, 10, 10);
    height: 20px;
    font-weight: bold;
    font-size: 16px;
  }
}
