@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.battleshipHeader {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
  margin-bottom: 20px;
}

.mainContainer {
  min-height: 100vh;
  background-image: url("https://wowsp-wows-na.wgcdn.co/dcont/fb/image/tmb/00953838-087a-11e9-ae23-d89d6715223c_1200x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameBoards {
  width: 80vw;
  height: 75vh;
  border-radius: 20px;
  background-color: aliceblue;
  opacity: 0.8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.singleBoard {
  height: 400.2px;
  width: 400.2px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.singleCell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid rgb(10, 10, 10);
  height: 40px;
  width: 40px;
  font-weight: bold;
  font-size: 18px;
}

.ship {
  background-color: rgb(6, 111, 176);
}

.winMessage {
  font-weight: bold;
  font-size: 24px;
  color: rgb(249, 45, 45);
  grid-column: 1 / span 2;
  justify-self: center;
}
@media (max-width: 500px) {
  .mainContainer {
    height: 800px;
    display: flex;
    flex-direction: column;
  }

  .battleshipHeader {
    font-size: 15vw;
    margin-bottom: 0;
  }

  .gameBoards {
    height: 600px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .singleBoard {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    grid-template-columns: repeat(10, 20px);
    grid-auto-rows: 20px;
  }

  .singleCell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: 12px;
  }

  .board {
    margin-top: 30px;
  }
}

@media (min-width: 501px) and (max-width: 1048px) {
  .mainContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .battleshipHeader {
    font-size: 15vw;
    margin-bottom: 0;
  }

  .gameBoards {
    width: 90vw;
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .singleBoard {
    display: grid;
    gap: 0;
    width: fit-content;
    margin: 0 auto;
  }

  .singleCell {
    font-size: 16px;
  }

  h1 {
    margin-top: 10px;
  }
}
